// Margin top
@for $i from 1 through 100 {
  .mr-t-#{$i} {
    margin-top: $i + px;
  }
}
// Margin right
@for $i from 1 through 100 {
  .mr-r-#{$i} {
    margin-right: $i + px;
  }
}
// Margin bottom
@for $i from 1 through 100 {
  .mr-b-#{$i} {
    margin-bottom: $i + px;
  }
}
// Margin left
@for $i from 1 through 100 {
  .mr-l-#{$i} {
    margin-left: $i + px;
  }
}

// Pading top
@for $i from 1 through 100 {
  .pd-t-#{$i} {
    padding-top: $i + px;
  }
}
// Pading right
@for $i from 1 through 100 {
  .pd-r-#{$i} {
    padding-right: $i + px;
  }
}
// Pading bottom
@for $i from 1 through 100 {
  .pd-b-#{$i} {
    padding-bottom: $i + px;
  }
}
// Pading left
@for $i from 1 through 100 {
  .pd-l-#{$i} {
    padding-left: $i + px;
  }
}

@for $i from 10 through 60 {
  .font-size-#{$i} {
    font-size: $i + px;
  }
}
